extends ../shared/template
block content
  h2 Meet the Gamblers

  .row.gamblerDetail
    .col-xs-12
  each gambler in gamblers
    .row#gamblers.gambler(data-gambler-id=gambler._id.toString())
      .col-xs-4
        h2.text-center: a(href='gamblers/'+gambler._id)= gambler.name
          div.photo.img-rounded(style='background-image: url(#{gambler.photo});')
      -if(gambler.assets.length > 0){
      .col-xs-4.spouse
        h2.text-center= gambler.spouse.name
          div.photo.img-rounded(style='background-image: url(#{gambler.spouse.photo});')
      -} else {
      .col-xs-4.divorced
        h4 DIVORCED!
      -}
      .col-xs-4
        .stats
          ul
            li.cash Cash:cash #{gambler.cash}
            li Wins: #{gambler.results.wins}
            li Losses: #{gambler.results.losses}
            span: a(href='/gamblers/#{gambler._id.toString()}/assets/new') Add an Asset
    .row
      h2.text-center.asset-title Assets
    .row.asset-row
      each asset in gambler.assets
        .col-xs-4.asset-info
          button.btn.sell-asset.btn-default(data-gambler-id=gambler._id.toString()) Sell Asset
          ul
            li.asset-name.text-right= asset.name
            li.asset-value.text-right $#{asset.value.toFixed(2)}
          .asset.asset-photo.img-circle(style='background-image:url(#{asset.photo});')


block scripts
  script(src='/js/user/gambler.js')

