extends ../shared/template
block content

  .row.gamblerDetail
    .col-xs-12
  .row
    .col-xs-4
      h2.text-center(data-gambler-id=gambler._id.toString())= gambler.name
        div.photo.img-rounded(style='background-image: url(#{gambler.photo});')
    .col-xs-4
      h2.text-center= gambler.spouse.name
        div.photo.img-rounded(style='background-image: url(#{gambler.spouse.photo});')
    .col-xs-4
      .stats
        ul
          li Cash: #{gambler.cash}
          li Wins: #{gambler.results.wins}
          li Losses: #{gambler.results.losses}
          span: a(href='/gamblers/#{gambler._id.toString()}/assets/new') Add an Asset
  .row
    h2.text-center.asset-title Assets
  .row.asset-row
    each asset in gambler.assets
      .col-xs-4.asset-info
        button.btn.sell-asset.btn-default Sell Asset
        ul
          li.asset-name.text-right= asset.name
          li.asset-value.text-right $#{asset.value.toFixed(2)}
        .asset.asset-photo.img-circle(style='background-image:url(#{asset.photo});')

block scripts
  script(src='/js/user/gambler.js')

